@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the custom font using @font-face */
@font-face {
  font-family: "CustomFontRoboto";
  src: url("../../public/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Extend Tailwind's base layer to apply the font to the body */
body {
  font-family: 'CustomFontRoboto';
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
